* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #f3f1ff;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 870px;
  background-color: #ffffff;
  padding: 22px 30px;
  border-radius: 5px;
  margin-top: 22px;
}

.section_titile {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
  margin-bottom: 40px;
  margin-top: 8px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 25px;
}
/* Top Players Section Design */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  margin-bottom: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player .player_name {
  font-family: "Poppins", sans-serif;
  margin-left: 18px;
  font-weight: 500;
  color: #000;
}

/* Blog Section Design */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 22px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
}
.blog .blog_info {
  margin-left: 16px;
}

.blog .blog_info .blog_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}
.blog .blog_info .blog_author {
  color: #9f9f9f;
}
.blog .blog_info .blog_author a.author_name {
  text-decoration: none;
  color: #562eff;
}
